body {
  background-color: #f2f2f2;
}

header {
  height: 120px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #ED458B;
  background-color: #404041;
  position: fixed;
}

h1 g {
  color: #E6E7E8;
  font-weight: 300;
}

#guesst {
  text-align: center;
  font-size: 25px;
}

#guessb {
  text-align: center;
  font-size: 25px;
  float: center;
}

#clear-guess {
  text-align: center;
  font-size: 25px;
  float: center;
}

#reset-button {
  text-align: center;
  font-size: 25px;
  float: center;
}

.button {
  background-color: #929497;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 5px 100px;
}

.button:disabled {
  background-color: #D0D2D3;
}

.button:enabled:hover {
  background-color: #EB008B;
}

.items-center {
  text-align: center;
}

.feedback {
  text-align: center;
  color: #404041;
  font-size: 50px;
}

.feedback #current-guess {
  color: #EB008B;
  font-size: 100px;
  margin: auto;
}
